@font-face {
    font-family: CursedTimer;
    src: url('CursedTimerUlil-Aznm.ttf');
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #EEEEEE;
}

.score-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080001;
    width: 155px;
    /* height: 120px; */
}

.score-p {
    font-family: 'CursedTimer', monospace;
    font-size: 64px;
    font-weight: normal;
    color: #F94F6D;
    /* line-height: 120px; */
}